@media (max-width: 576px) {
    .multiStepFormContainer{
        margin: 0;
        padding: 0;
    }

    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: white;
        width: 100%;
        height: 100%;
        padding: 0;
        background: #eef5ff;
        border-radius: 0;
    }

    .titleText h1{
        font-size: 20pt
    }

    input:checked + .slider:before{
        -webkit-transform: translateX(13px);
        -ms-transform: translateX(13px);
        transform: translateX(13px);
    }

    .leftArea{
        width: 100%;
        height: 25%;
        background-position: top;
        background-image: url(../assets/images/bg-sidebar-mobile.svg);
        border-radius: 0;
    }

    .steps{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .step{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .stepInfo{
        display: none;
    }

    .rightArea{
        width: 85%;
        background: white;
        position: relative;
        top: -25px;
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .rightAreaAll{
        margin-top: 30px;
    }

    .formContent{
        width: 100%;
    }

    .planOptions{
        flex-direction: column;
    }

    .stepForm{
        width: 74%;
    }

    .planDivision{
        width: 90%;
        height: 100%;
        flex-direction: row;
        justify-content: flex-start;
    }

    .titlePrice{
        margin-left: 10px;
    }

    .billing p{
        margin-left: 25px;
        margin-right: 25px;
    }

    .switch{
        width: 30px;
        height: 18px;
    }

    .switch input{
        width: 30px;
    }

    .confirmationBtn{
        width: 40%;
    }

    .btnArea{
        width: 74%;
    }

    .nextStepBtn{
        width: 40%;
    }
}