.rightArea{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.formContent{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;   
}

.stepForm{
    width: 65%;
    margin: 30px;
}

.titleText h1{
    font-family: font500;
    color: #00124b;
}

.titleText h2{
    font-family: font400;
    font-weight:100;
    font-size: 11pt;
    color: #8d8f96;
}

.userInputs p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.userInputs input{
    width: 97%;
    border: 1px solid #9898a2;
    height: 45px;
    border-radius: 5px;
    padding-left: 10px;
}

.btnArea{
    display: flex;
    justify-content: space-between;
}

.planOptions{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.planDivision{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
    border: 1px solid #174a8b;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.planDivision img{
    width: 50px;
    height: 50px;
}

.planDivision p:first-of-type{
    color: #00124b;
    font-size: font700;
    font-weight: bold;
}

.planDivision p{
    color: #8d8f96;
}

.billing{
    display: flex;
    justify-content: center;
    background: #f7f8fc;
    padding: 20px;
    border-radius: 10px;
}

.billing p{
    margin-left: 50px;
    margin-right: 50px;
}

.switch{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before{
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
input:checked + .slider{
    background-color: #2196F3;
  }
  
input:focus + .slider{
    box-shadow: 0 0 1px #2196F3;
  }
  
input:checked + .slider:before{
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
.slider.round{
    border-radius: 34px;
}
  
.slider.round:before{
    border-radius: 50%;
}