.testing{
    width: 100%;
    height: 500px;
    background-color: blue;
    display: flex;
}

.testing .retangle1{
    width: 20%;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.retangle1 i{
    font-size: 40px;
    color: blue;
}

.testing .retangle2{
    width: 80%;
    height: 100px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.retangle2 ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.retangle2 ul li{
    float: left;
}